[submodule "Galileo/vender/spdlog"]
	path = Galileo/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Galileo/vendor/GLFW"]
	path = Galileo/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Galileo/vendor/imgui"]
	path = Galileo/vendor/imgui
	url = https://github.com/TheCherno/imgui

